html{
  overflow-x: hidden;
}


.blue {
  background-color: aliceblue;
}

.fheight {
  height: 100%;
}

/*images for hover*/

.vh {
  height: 100vh;
}

.imgBlock {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  margin: 0;
  transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.imgBlock:hover {
  flex-basis: 100vw;
  z-index: 100;
}

.tv {
  background-image: url('../src/assets/trillvisualz1.png');
  background-position-y: 10%;
}

.tv1 {
  background-image: url('../src/assets/trillvisualz2.png');
  background-position-y: 10%;
}

.tv2 {
  background-image: url('../src/assets/trillvisualz3.png');
  background-position-y: 10%;
}

.tv3 {
  background-image: url('../src/assets/trillvisualz4.png');
  background-position-y: 10%;
}

.tv4 {
  background-image: url('../src/assets/trillvisualz5.png');
  background-position-y: 10%;
}

.tv5 {
  background-image: url('../src/assets/trillvisualz6.png');
  background-position-y: 10%;

}

/*Media Query*/

@media (min-width: 576px) {

  .imgBlock:hover {
    flex-basis: 48.5vw;

  }

  html {
    overflow-x: visible;
  }
 
}